@import "tailwindcss";

@theme {
  --font-heading: "Calistoga", "Georgia", serif;
  --font-body: "Outfit", "Inter", "Helvetica", sans-serif;

  --color-text: #eae9eb;
  --color-background: #121114;
  --color-primary: #6c46b2;
  --color-secondary: #544a65;
  --color-accent: #7d6d9a;
}

/* Custom base styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}